.topBar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    background-color: #a9a9a9;
    color: #fff;
    padding: 3rem 3rem;
    gap: 13px;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    background-color: darkgray;
  }

  .userInfo h3 {
    background-color: transparent;
  }
  
  .avatarContainer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: darkgray;
  }
  
  .avatarCircle {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
  }
  