.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 99vh;
  gap:3rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20vh;
  border: 1px solid black;
}

.infoUserContainer {
  display: flex;
  flex-direction: column;
  
}

.infoUser {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchIcon {
  font-size: 2em;
}

.rectangle {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  align-items: flex-start;
  justify-content: left;
  gap: 1rem;
}

.rectangle p {
  text-align: left;
}

.mediumRectangles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  overflow-x: none;
  width: 30%;
}

.delete {
  cursor: pointer;
  border: none;
}